.contact-header{
    color: #ab2f52;
    font-size: 27px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
  
}
.contact-header-description{

    font-size: 15px;
    color:#888888

}